<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit user</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    </head>
    <body>
        <h1 class="card-title">User crud</h1>
        <div class="container col-6">
            <form action="/save" method="post">
                <input style="display: none" type="name" class="form-control" id="id" name="id" th:value="${user.id}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="name" class="form-control" id="name" placeholder="Enter name" name="name" th:value="${user.name}">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="phone" class="form-control" id="phone" placeholder="Enter phone" name="phone" th:value="${user.phone}">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:value="${user.email}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>