<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="col-3"></div>
        <div class="container col-6">
            <h1 class="card-title">User crud</h1>
            <form action="/search" method="get">
                <div class="form-group">
                    <label for="name">Search:</label>
                    <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
        
                </div>

            </form>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.phone}"></td>
                        <td style="display: flex; justify-content: space-between; align-items: center">
                            <a th:href="@{/edit?id={id}(id=${user.id})}"><i class="fas fa-edit" style="color: #005cbf; cursor: pointer;"></i></a>
                            <a th:onclick="'deleteUser(' + ${user.id} + ');'"><i style="color: #bd2130; cursor: pointer;" class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/add" class="btn btn-success">Create new user</a>
        </div>
        <script src="jquery-3.5.1.min.js" th:href="@{jquery-3.5.1.min.js}"></script>
    </body>

    <script type="text/javascript">
        function deleteUser(id){
            $.ajax({
                method: "DELETE",
                url: "/delete?id=" + id,
                success: function (){
                    location.reload();
                },
                error: function (){
                    alert("error")
                }
            });
        }
    </script>
</html>