.list-product-page-header {
  width: 100%;
  height: 62px;
  background: #616161;
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
  background: linear-gradient(to right, #9bc5c3, #616161);
}

.list-product-page-body {
  padding: 20px 120px;
}

.list-product-page-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
  justify-content: space-around;
}

.btn-edit {
  color: #17a2b8 !important;
  background: #fff !important;
  border-color: #17a2b8 !important;
}

.btn-edit:hover {
  background: #17a2b8 !important;
  color: #ffffff !important;
}

.btn-delete:hover {
  background: #ff4d4f !important;
  color: #ffffff !important;
}

.label {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  margin-top: 10px;
  display: block;
}

.list-item-dd {
  width: 150px;
  height: 40px;
  background-color: white;
  z-index: 9999;
  position: absolute;
  border-radius: 8px;
  border: 1px solid cornsilk;
  left: -10px;
}

.item-list{
  padding: 10px;
  cursor: pointer;
  border-bottom: #9bc5c3 1px solid;
}

.item-list:hover{
  border: #9bc5c3 1px solid;
}
