<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Users</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
    </head>
    <body>
        <div class="container">
            <h2>User</h2>
            <div class="card bg-light text-dark" id="area-error" th:if="${message != null}">
                <div class="card-body" id="error-value" ></div>
            </div>
            <form th:action="${action}" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input required type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input required type="number" class="form-control" id="age" placeholder="Enter age" name="age">
                </div>
                <div class="form-group">
                    <label for="salary">Salary:</label>
                    <input required type="number" class="form-control" id="salary" placeholder="Enter salary" name="salary">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-info" id="btn-reset">Reset</button>
            </form>
        </div>

        <div class="container">
            <h2>List of users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user1 : ${users}" th:id="${'user-' + user1.id}">
                        <td th:text="${user1.id}"></td>
                        <td th:text="${user1.name}"></td>
                        <td th:text="${user1.age}"></td>
                        <td th:text="${user1.salary}"></td>
                        <td>
                            <a class="mr-2 btn btn-success" th:href="@{/user/edit/{id}(id=${user1.id})}">Edit</a>
                            <a class="btn-delete-user btn btn-danger" href="#">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        $("#btn-reset").click(function (){
            $("input").val("")
        })
    </script>
</html>