<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Users</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
    </head>
    <body>
        <div class="container">
            <h2>User</h2>
            <div class="card bg-light text-dark" id="area-error" th:if="${message != null}">
                <div class="card-body" id="error-value" th:text="${message}"></div>
            </div>
            <form th:action="${action}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" th:field="*{age}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="salary">Salary:</label>
                    <input required type="number" id="salary" th:field="*{salary}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-info" id="btn-reset">Reset</button>
            </form>
        </div>

        <div class="container">
            <h2>List of users</h2>
            <div class="col-md-7">
                <form class="row" action="/user/search" method="get">
                    <div class="col-md-8">
                        <input name="name" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user1 : ${users}" th:id="${'user-' + user1.id}">
                        <td th:text="${user1.id}"></td>
                        <td th:text="${user1.name}"></td>
                        <td th:text="${user1.age}"></td>
                        <td th:text="${user1.salary}"></td>
                        <td>
                            <a class="mr-2 btn btn-success" th:href="@{/user/edit/{id}(id=${user1.id})}">Edit</a>
                            <a class="btn-delete-user btn btn-danger btn-delete" th:value="${user1.id}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        $("#btn-reset").click(function (){
            $("input").val("")
        })

        $(".btn-delete").on("click",function (){
            let id = $(this).attr("value");
            $.ajax({
                type: "POST",
                url: "/user/delete/" + id,
                success: function(data)
                {
                    location.reload();
                }
            });
        })
    </script>
</html>