<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/frag :: head(title='User List')"></head>
    <body>
        <div th:replace="layout/frag :: header(title='List User')"></div>
        <div class="container-fluid row mt-2">
            <nav th:replace="layout/frag :: menu"></nav>
            <main class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title float-left">
                            List User
                            <small class="text-muted">show all user</small>
                        </h3>
                        <div class="col-md-7">
                            <form class="row" action="/user/search">
                                <div class="col-md-8">
                                    <input name="name" class="form-control" type="search" placeholder="Search" aria-label="Search">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                        <a href="/user/create" class="btn float-right"><i class="fas fa-plus-circle"></i> Create new user</a>
                        <div class="clearfix"></div>
                        <div class="alert alert-success d-none" role="alert" id="messageSuccess"></div>
                        <div class="alert alert-danger d-none" role="alert" id="messageError"></div>
                        <table class="table table-striped">
                            <thead>
                                <tr class="row">
                                    <th class="col-md-1">#</th>
                                    <th class="col-md-3">Name</th>
                                    <th class="col-md-6">Address</th>
                                    <th class="col-md-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${pagination.getContent()}" class="row" th:id="${'user-' + user.id}">
                                    <td class="col-md-1" th:text="${user.id}"></td>
                                    <td class="col-md-3 user-name" th:text="${user.name}"></td>
                                    <td class="col-md-6" th:text="${user.address}"></td>
                                    <td class="col-md-2">
                                        <!--                            Sửa theo các truyền id ở-->
                                        <a class="btn-link mr-2" th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a>
                                        <a class="btn-link btn-delete-user" href="#">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="float-right" th:if="${pagination.getTotalPages() > 1}">
                                    <ul class="pagination">
                                        <li class="page-item" th:if="${page>1}">
                                            <a class="page-link" th:href="@{/user/list(page=${page}-1, limit=${limit})}">Previous</a>
                                        </li>
                                        <li class="page-item" th:if="${page>1}">
                                            <a class="page-link" th:href="@{/user/list(page=${page}-1, limit=${limit})}"
                                               th:text="${page}-1"></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#" th:text="${page}"></a></li>
                                        <li class="page-item" th:if="${page<pagination.getTotalPages()}">
                                            <a class="page-link" th:href="@{/user/list(page=${page}+1, limit=${limit})}"
                                               th:text="${page}+1"></a>
                                        </li>
                                        <li class="page-item" th:if="${page<pagination.getTotalPages()}">
                                            <a class="page-link"
                                               th:href="@{/user/list(page=${page}+1, limit=${limit})}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure want to delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var currentUserId;
            $('.btn-delete-user').click(function () {
                var tr = $(this).closest('tr');
                currentUserId = tr.attr('id').replace('user-', '');
                var pname = tr.find('.user-name').text();
                $('#modalBody').text(pname);
                $('#exampleModal').modal('show');
            });

            $('#btnDelete').click(function () {
                $.ajax({
                    url: '/user/delete/' + currentUserId,
                    method: "POST",
                    success: function (resp) {
                        $('#user-' + currentUserId).remove();
                        $('#messageSuccess').text('Action success!');
                        $('#messageSuccess').removeClass('d-none');
                        $('#exampleModal').modal('hide');
                    },
                    error: function () {
                        $('#messageError').text('Action fails! Please try again later!');
                        $('#messageError').removeClass('d-none');
                        $('#exampleModal').modal('hide');
                    }
                });
            });

        </script>
        <div th:replace="layout/frag :: footer"></div>
    </body>
</html>